//- main navigation
nav.nav.tp-text--center
  ul.nav__list
    each page in pages
      if currentPage !== page.code && page.active
        li.nav__item
          a.nav__link(class=page.active ? '' : 'disabled', href=page.link, target=page.code === 'gifts'? '__blank' : '_self')= page.text