.home-section {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  
  @media #{$sm-height} {
    min-height: 63vh;
  }
  
  &__subtitle,
  &__text,
  &__img + &__title {
    max-width: 460px;
    
    @media #{$flow-height} {
      max-width: 42.6vh;
    }
  }
  
  &__title,
  &__subtitle,
  &__text,
  &__scroller,
  &__btn-wrapper {
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.3s;
    
    .active & {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  &__title {
    transition-delay: 0.5s;
  }
  
  &__img + &__title {
    transition-delay: 0.8s;
  }
  &__img--double + &__title {
    transition-delay: 0.8s;
  }
  
  &__subtitle {
    margin: 2rem 0 2.5rem;
    transition-delay: 0.8s;
    
    @media #{$flow-height} {
      margin: 2.5vh 0 3.5vh;
    }
  }
  
  &__scroller {
    margin-top: 5rem;
    transition-delay: 1.1s;
    @media #{$flow-height} {
      margin-top: 6vh;
    }
    &-text {
      text-transform: uppercase;
    }
    &-icon .icon {
      @include size(20px, 50px);
      
      @media #{$flow-height} {
        @include size(20px/1080px*100vh, 50px/1080px*100vh);
      }
    }
  }
  
  &__text {
    transition-delay: 1.1s;
  }
  &__btn-wrapper {
    transition-delay: 1.2s;
    
    .section--3 & {
      transition-delay: 1.4s;
    }
  }
  
  &__img {
    img {
      max-width: 100%;
      opacity: 0;
      transform: translateY(20%);
      transition: all 0.5s 0.3s;
      @media #{$flow-height} {
        max-height: 48vh;
      }
    }
    &--double img:first-of-type {
      transform: translateX(-10%);
    }
    &--double img:last-of-type {
      @include absolute(top 0 left 0);
      transform: translateX(10%);
      transition-delay: 0.5s;
    }
    .active & img {
      transform: translate(0);
      opacity: 1;
    }
  }
  
  .section--1 &__title {
    margin-top: 16vh;
    font-size: 57px;
    line-height: 1.23;
    max-width: 750/1000*100vh;
    @media #{$flow-height} {
      font-size: 57px/1080px*100vh;
    }
  }
  .section--2 &__title,
  .section--4 &__title {
    margin-top: -1rem;
    @media #{$flow-height} {
      margin-top: -1vh;
    }
  }
  .section--5 &__title {
    margin-top: -1rem;
  }
  .section--3 &__title {
    margin-top: 10vh;
  }
}