.home-section {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  
  @media #{$sm-height} {
    min-height: 63vh;
  }
  
  &__subtitle,
  &__text,
  &__img + &__title {
    max-width: 460px;
    
    @media #{$flow-height} {
      max-width: 42.6vh;
    }
  }
  
  &__subtitle {
    margin: 2rem 0 2.5rem;
    
    @media #{$flow-height} {
      margin: 2.5vh 0 3.5vh;
    }
  }
  
  &__scroller {
    margin-top: 5rem;
    @media #{$flow-height} {
      margin-top: 6vh;
    }
    &-text {
      text-transform: uppercase;
    }
    &-icon .icon {
      @include size(20px, 50px);
      
      @media #{$flow-height} {
        @include size(20px/1080px*100vh, 50px/1080px*100vh);
      }
    }
  }
  
  &__img {
    img {
      max-width: 100%;
      @media #{$flow-height} {
        max-height: 48vh;
      }
    }
  }
  
  .section--1 &__title {
    margin-top: 16vh;
    font-size: 57px;
    line-height: 1.23;
    @media #{$flow-height} {
      font-size: 57px/1080px*100vh;
    }
  }
  .section--2 &__title,
  .section--4 &__title {
    margin-top: -1rem;
    @media #{$flow-height} {
      margin-top: -1vh;
    }
  }
  .section--5 &__title {
    margin-top: -1rem;
  }
  .section--3 &__title {
    margin-top: 10vh;
  }
}