.page {
  
  .layout--desktop &--home {
    height: 100vh;
    
    @media #{$xs-height} {
      min-height: calc(100vh - 10.5rem);
      height: auto;
    }
  }
  
  .layout--desktop &--home .section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    &__content {
      //padding: 150px 0 60px;
      padding: 13vh 0 5.56vh;
      background: url('../img/home/bg-circle.jpg') center no-repeat;
      
      @media #{$flow-height} {
        padding: 13.5vh 0 5.56vh;
      }
    }
    &__content,
    &__bg {
      @include size(50%, 100%);
      background-size: cover;
    }
    @for $i from 1 through 5 {
      &--#{$i} .section__bg {
        background: url('../img/home/bg-#{$i}.jpg') center no-repeat;
        background-size: cover;
      }
    }
    &__content-inner {
      display: flex;
      flex-flow: column nowrap;
      //justify-content: space-between;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      
      > .btn {
        margin-top: 180px;
        opacity: 0;
        transform: translateY(20%);
        transition: all 0.3s 1.5s;
        
        @media #{$flow-height} {
          margin-top: 16.67vh;
        }
        @media #{$sm-height} {
          margin-top: 13vh;
        }
      }
    }
    &.active .section__btn {
      opacity: 1;
      transform: translateY(0);
    }
    &--3.active .section__btn {
      transition-delay: 1.7s;
    }
  }
  .layout--mobile &--home .section {
    &__content {
      padding: 30px 20px 40px;
      background: url('../img/home/m_bg-circle.jpg') top center no-repeat;
      background-color: #fbfbfb;
      background-size: contain;
    }
    &__bg {
      padding-bottom: 87.5%;
    }
    @for $i from 1 through 2 {
      &--#{$i} .section__bg {
        background: url('../img/home/m_bg-#{$i}.jpg') center no-repeat;
        background-size: cover;
      }
    }
    &--1 .section__content {
      height: 100vh;
      background-position: center;
    }
    &--2 .section__content {
      background-position: top 30px center;
    }
    &__content-inner {
      display: flex;
      flex-flow: column nowrap;
      //justify-content: space-between;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      
      > .btn {
        margin-top: 180px;        
      }
    }
    &__btn {
      @include absolute(top 40px left 50%);
      transform: translateX(-50%);
    }
    &--3 .section__btn {
      top: auto;
      bottom: 80px;
    }
    &--3 .section__bg {
      display: none;
    }
  }
}