.layout--landing {
  background: url('../img/bg-landing.jpg') top center repeat-y;
  background-size: contain;
  padding-top: $header-height;
}
.page {
  &--landing .container {
    max-width: 1300px;
  }
  &--landing &__content {
    background: #fff url('../img/el-bottom-landing.jpg') bottom center no-repeat;
    background-size: contain;
    padding: 75px 12.31% 60px;
    min-height: calc(100vh - #{$header-height});
  }
  &--landing &__top-btn {
    @include absolute(top -0.5*$grid-gutter left 5rem);
  }
}

.page--landing .vr {
  &-1 {
    z-index: 2;
  }
  &-21 {
    margin-top: -80px;
    @media screen and (max-width: 1200px) {
      margin-top: -50px/1300px*100vw;
    }
  }
  &-22 {
    margin-top: 150px;
    @media #{$md-landing} {
      margin-top: 130px/1300px*100vw;
    }
  }
}
.page--landing .ve {
  &-10 {
    margin-top: 100px;
    @media #{$md-landing} {
      margin-top: 100px/1300px*100vw;
    }
    
    .image-block--styled::before {
      margin-top: -210/460*100%;
      margin-left: -100/460*100%;
    }
  }
  &-22 {
    margin-top: -320px;
    @media #{$md-landing} {
      margin-top: -320px/1300px*100vw;
    }
  }
  &-32 {
    .image-block--styled::before {
      margin-left: -100/460*100%;
    }
  }
  &-42 {
    margin-top: -110px;
    @media #{$md-landing} {
      margin-top: -110px/1300px*100vw;
    }
  }
}