.page {
  .layout--test & {
    background: url('../img/test/bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  &--test,
  &--result {
    height: 100vh;
    padding: 100px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$flow-height} {
      padding: 100px 0 120px/1080px*100vh;
    }
  }
  
  &--test &__content,
  &--result &__content {
    background: #fff;
    padding: 50px 7.27% 90px;
    min-height: 720px;
    @media #{$flow-height} {
      padding: 50px/1080px*100vh 7.27% 90px/1080px*100vh;
      min-height: 720px/1080px*100vh;
    }
  }
  &--result &__content {
    padding: 40px 7.27% 50px;
    @media #{$flow-height} {
      padding: 40px/1080px*100vh 7.27% 50px/1080px*100vh;
    }
  }
}