
<nav class="nav tp-text--center">
  <ul class="nav__list">
    <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
    <li class="nav__item"><a href="vlad-i-rita.html" class="nav__link">Рита + Влад</a></li>
    <li class="nav__item"><a href="vladimir-i-elena.html" class="nav__link">Владимир + Елена</a></li>
    <li class="nav__item"><a href="test.html" class="nav__link">Тест</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Идеи подарков</a></li>
  </ul>
</nav>