extends template

prepend page
  - var layout = 'test';
  - var currentPage = 'result';

block content
  .page.page--result
    .container
      .page__content.rounded
        .page__header.tp-text--center
          .page__heading.tp-heading--bigger-2= results.b.title
          .page__heading-text.tp-body--main: p= results.b.text
          .page__socials
            +social(true)
        .page__body.advice.tp-text--center
          .grid-noBottom
            .col-6
              .advice__info
                .advice__title.tp-heading--large-2.mb-5 Совет:
                .advice__text.tp-body--main.my-5: p= results.b.advice.text
                .advice__btn.mt-5: a.btn(href=results.b.advice.link, target="_blank") время выбирать подарки
            .col-5
              .advice__img
                img(src=results.b.advice.img)
        .page__footer
          +gift-form('result-gift-form', true)
          img.ml-4(src="build/img/gift-contest.png", alt="")