extends template

prepend page
  - var layout = 'test';
  - var currentPage = 'test';

block content
  .page.page--test
    .container
      .page__content.rounded
        .page__header.tp-text--center
          .page__heading.tp-heading--monstrous Тест
          .page__subheading.mt-4.tp-body--bigger-2.tp--uc Что ваш новогодний подарок может рассказать о вас?
        .test__wrapper.mt-6
          .test__carousel.owl-carousel.carousel--test
            each item in test
              .test.tp-text--center
                .test__title.tp-heading--bigger-2.mb-6
                  span= item.question
                  if item.question2line
                    br
                    span= item.question2line
                .test__variants
                  .grid-noBottom
                    each variant, key in item.variants
                      .col-3
                        .test-variant.js-test-ctrl(data-key=key)
                          .test-variant__ctrl
                            svg.icon: use(xlink:href="#tick")
                          .test-variant__text.tp-body--main.mt-3= variant