extends template

prepend page
  - var layout = 'landing';
  - var currentPage = 'vr';

block content
  .page.page--landing
    .container
      .page__content
        .page__top-btn: button.btn.js-modal(data-target="#wanna-gift") получить подарок
        .grid-center-noBottom
          .col-10
            .page__header.tp-text--center.a-scroll-box
              .page__heading.tp-heading--huge.mb-3.mx-auto.a-fade-slide.a-ordered Влад Соколовский <br/>и Рита Дакота
              .page__heading-note.tp-body--medium.tp--uc.mb-4.mx-auto.a-fade-slide.a-ordered певцы, авторы песен
              .page__heading-text.tp-body--bigger-2.tp--accent.mx-auto.a-fade-slide.a-ordered
                p: em Финалисты «Фабрики звезд-7» Влад и Рита признаются, что они не просто муж и жена и молодые родители, а близкие друзья и единомышленники. Впрочем, 10-летний стаж знакомства не мешает им продолжать удивлять друг друга сюрпризами.
        .grid-noBottom.mt-9.vr-1
          .col-6.vr-10.a-scroll-box
            .a-fade-slide.a-delay-4.z-1
              +text-block('Влад')
                p Из детства запомнились два подарка – первая в моей жизни видеокассета с фильмом, причем взрослым, «Армагеддон», я ее до дыр засмотрел. И крутые электронные часы для водолазов, с подсветкой, крутящимся циферблатом – я очень ими гордился.
            .a-fade-slide.a-delay-5.z-1
              +text-block('Рита')
                p А мне – программа для создания музыки, которую подарил брат. Мне тогда было лет 8, но я зависала над ней с утра до ночи – придумывала песенки, писала музыку. Тогда я точно поняла, что буду композитором. Новый год – магический, сказочный праздник: Дед Мороз, олени, огни на елках... И подарить в эту ночь хочется что-то особенное, символическое, теплое. То, что поддержит волшебную атмосферу.
          .col-6.vr-11.a-scroll-box(data-push-left="off-1", data-push-right="off-minus-1")
            .a-fade-slide.a-delay-6
              +image-block('build/img/content/vr-1.jpg', true)
        .grid-noBottom-noWrap.vr-2
          .col-8.grid-noBottom.vr-21
            .col-12.a-scroll-box
              .a-fade-slide
                +image-block('build/img/content/vr-2.jpg')
            .col-9.mt-6.a-scroll-box
              .a-fade-slide.a-delay-3.z-1
                +text-block('Рита', true)
                  p: em Мне все сложнее загадывать желания на Новый год, потому что все, что надо, у меня уже есть. Я счастливый человек, наверное!
          .col-6.vr-22.a-scroll-box(data-push-left="off-minus-1", data-push-right="off-minus-1")
            .a-fade-slide.a-ordered.z-1
              +gift('build/img/content/vr-gift-1.png', 'Акватический цедрат', 'Для него', 'http://pubads.g.doubleclick.net/gampad/clk?id=4504228695&iu=/81006599/hmiru-elle/count', 'dark')
                p.tp--accent.mb-5 Туалетная вода, гель для душа и бальзам после бритья с ароматом ветра и морских брызг и чувственными, древесными нотами кедра (цедрата) напоминают о путешествиях, неизведанных странах и заряжают энергией странствий.
        .grid-noBottom-noWrap.vr-3.mt-4
          .col-8.grid-center-noBottom.vr-31(data-push-left="off-minus-1")
            .col-9.a-scroll-box
              .a-fade-slide.z-1
                +text-block('Влад')
                  p Приятно, что Рита радуется каждому моему подарку, а не принимает их как данность! И это дает мне ощущение нужности и желание дарить снова и снова.  Причем, сам подарок может быть абсолютно любым! Душистый шампунь и масло для тела тоже бывают кстати. Во-первых, они быстро заканчиваются, и потому всегда необходимы. А во-вторых, выбранный тобою аромат сопровождает потом твоего любимого человека – и это здорово!
            .col-12.mt-3.a-scroll-box
              .a-fade-slide.z-1
                +image-block('build/img/content/vr-3.jpg')
          .col-7.vr-32.mt-8.a-scroll-box(data-push-right="off-minus-1")
            .a-fade-slide.a-delay-3
              +image-block('build/img/content/vr-4.jpg', true)
        .grid-noBottom-noWrap.vr-4.mt-6
          .col-6.vr-41.a-scroll-box
            .a-fade-slide.z-1
              +gift('build/img/content/vr-gift-2.png', 'Восхитительный миндаль', 'Для нее', 'http://pubads.g.doubleclick.net/gampad/clk?id=4504228737&iu=/81006599/hmiru-elle/count', 'dark')
                p Миндаль, который входит в состав масла для душа, молочка и пасты-скраба для тела, питает и разглаживает кожу, придает ей упругость, а его аромат создает атмосферу Прованса. Масло создает вау-эффект: при контакте с водой оно мгновенно превращается в густую роскошную пену, придающую вашему телу нежное атласное сияние.
          .col-6.grid-noBottom.vr-42.a-scroll-box(data-push-left="off-1", data-push-right="off-minus-1")
            .col-12.a-fade-slide.a-delay-2.z-1
              +text-block('Влад', true)
                p: em Вызвать приятные эмоции – вот главное назначение подарка.  Не удивить и не ошеломить своей дороговизной, а доставить удовольствие человеку.
            .col-10.a-fade-slide.a-delay-3.z-1
              +text-block('Рита')
                p У средств по уходу от L’Occitane невероятно приятные запахи – люблю их продукты с вербеной, пионом, а особенно – с миндалем. В таком подарке есть элемент заботы обо мне, а забота – важная составляющая отношений, любовных, дружеских или семейных.
        .grid-center.mt-5.a-scroll-box
          .col-10.a-fade-slide.a-ordered
            +text-block('Влад и рита', false, true)
              p У нас в семье две традиции: сначала мы отмечаем Новый год на даче, с самыми дорогими людьми. А через несколько дней этой же компанией улетаем на остров Бали, на один-два месяца – зимовать. Так что это двойная радость - встреча нового года и предвкушение долгого отпуска. Праздник среди чемоданов – это круто!
          .col-10.a-fade-slide.a-ordered
            +social(true, true)
      //- .grid-noBottom.mt-8
          each item in [{title: 'Владимир и елена', img: 'build/img/stories/ve-small.png', link: '#'}, {title: 'Кирилл и александра', img: 'build/img/stories/ka-small.png', link: '#'}]
            .col-6
              +story-block(item.img, item.title, item.link)