extends template

prepend page
  - var layout = 'home';
  - var currentPage = 'home';

block content
  .page.page--home
    include ../components/home-section
    section.section.section--1
      .section__content
        .section__content-inner
          +homeSection(homeSectionsData[0])
      .section__bg
        button.btn.section__btn.js-modal(data-target="#wanna-gift") получить подарок
    section.section.section--2
      .section__content
        .section__content-inner
          +homeSectionSlider([homeSectionsData[1],homeSectionsData[3]])
      .section__bg
        button.btn.section__btn.js-modal(data-target="#wanna-gift") получить подарок
    section.section.section--3
      .section__content
        .section__content-inner
          +homeSection(homeSectionsData[2])
      .section__bg
        button.btn.section__btn.js-modal(data-target="#wanna-gift") получить подарок