extends template

prepend page
  - var layout = 'landing';
  - var currentPage = 've';

block content
  .page.page--landing
    .container
      .page__content.ve
        .page__header.tp-text--center
          .page__heading.tp-heading--huge.mb-3.mx-auto Владимир Вдовиченков <br/>и Елена Лядова
          .page__heading-note.tp-body--medium.tp--uc.mb-4.mx-auto актеры театра и кино
          .page__heading-text.tp-body--bigger-2.tp--accent.mx-auto
            p: em Они познакомились пять лет назад на съемочной площадке фильма «Левиафан», где сыграли ведущие роли. Картина подарила им мировую известность, признание публики и… любовь друг к другу. Два года спустя Елена и Владимир поженились.
        .page__body
          +image-block('../build/img/content/ve-1.jpg', true)
          +text-block('Елена')
            p Я родилась на католическое рождество, 25 декабря. К этому дню мы всей семьей обязательно наряжали елку. И подарки, которые мне дарили на день рождения, были окрашены новогодним флером. Так и теперь: 24 декабря ставим елку, и у нас уже новогоднее настроение.
          +text-block('Владимир')
            p А у меня в детстве Новый год ассоциировался с шоколадом. Много шоколадных конфет – и их можно есть без всяких ограничений!
          +image-block('../build/img/content/ve-2.jpg')
          +gift('../build/img/content/ve-gift-1.png', 'Набор «Можжевельник: символ абсолютной мужественности»', 'Для него', 'http://pubads.g.doubleclick.net/gampad/clk?id=4504228950&iu=/81006599/hmiru-elle/count', 'dark')
            p.tp--accent.mb-5 Изысканный подарок для сильного и уверенного мужчины – древесно-пряный, смолистый аромат можжевельника дополняют элегантные, чуть терпкие ноты бергамота, розового перца и кедра. Целебные компоненты геля и бальзама не только успокаивают и смягчают кожу, но и способствуют заживлению ран и порезов.
          +text-block('Елена', true)
            p: em Мечтаю об очень высокой елке. Я бы взяла стремянку, мешок игрушек и нарядила ее для всего двора. Все соседи вместе бы ее наряжали и радовались.
          +text-block('Владимир')
            p Преподнести ошеломительный подарок, как это сделал герой Юрия Яковлева в «Гусарской балладе»: хоп! – и достал цветок среди зимы – это эффектно, не спорю. Но в обычной жизни я предпочитаю не дарить наобум. Стараюсь как-то между прочим выведать, что человеку хотелось бы получить, что ему нужно. А уж полезна эта вещь или ерунда полная – это ему решать.
          +image-block('../build/img/content/ve-3.jpg', true)
          +text-block('Елена')
            p Очень люблю сюрпризы! Когда же еще их делать, как не в эту мистическую ночь? Однажды в детстве я перед Новым годом случайно увидела подарки, которые мама приготовила для меня и спрятала за диван. Я тогда поняла, как сильно меня любят родители, но запомнила: подарок должен быть неожиданным! Только тогда он вызовет сильные эмоции. С тех пор всегда стремлюсь найти то, что удивит и порадует.
          +gift('../build/img/content/ve-gift-2.png', 'Набор «Роза 4 Королевы»', 'Для нее', 'https://www.loccitane.ru/rose-4-queens,9,2,383,802432.htm?utm_source=elle&utm_medium=interview_lyadova_vdovichenkov&utm_campaign=RURU_christmas_awareness_branding_multi', 'dark')
            p Эти нежные средства окутают вас соблазнительным бархатистым ароматом четырех роз: розы Грасса, болгарской розы, розы Марокко и турецкой розы. Превращаясь в пену при контакте с водой, гель нежно очищает и питает кожу, молочко для тела и крем для рук увлажняют и разглаживают. А все вместе дарят минуты незабываемого наслаждения.
          +text-block('Владимир', true)
            p: em У нас сегодня такой огромный выбор косметики, что ее можно дарить без конца и не повторяться. Это очень приятные знаки внимания, и они никогда не надоедают.
          +image-block('../build/img/content/ve-4.jpg')
          +text-block('Елена', false, true)
            p Мы с Володей любим бывать в магазинах парфюмерии и косметики, пробуем новые ароматы, советуемся с консультантом, подбираем духи для разных поводов и времен года. Запахи создают настроение. Обычно меня привлекает что-то сладкое, теплое, но в то же время не жаркое, с кислинкой. Очень нравятся гели для душа L’Occitane с насыщенным розовым ароматом. Вообще у этой марки очень «уютная» продукция, она вызывает доверие. Я обожаю открывать все эти красивые баночки, смотреть описания, пробовать крема, нежное молочко для тела. А миниатюрные тюбики с кремом для рук от L’Occitane у меня просто везде – во всех сумках и карманах.
          .mt-9
            +social(false, true)
      //- .grid-noBottom.mt-8
          each item in [{title: 'Влад и Рита', img: '../build/img/stories/vr-small.png', link: 'vlad-i-rita.html'}, {title: 'Кирилл и александра', img: '../build/img/stories/ka-small.png', link: '#'}]
            .col-6
              +story-block(item.img, item.title, item.link)